:root {
  --bg-desktop: url(/images/bg-desktop-light.jpg);
}

html[data-theme="dark"] {
  --bg-desktop: url(/images/bg-desktop-dark.jpg);
}

.container {
  width: 600px;
}

.circle {
  margin-right: 1.4rem;
  margin-left: 0.5rem;
}

.bg {
  background-image: var(--bg-desktop);
}

/*---- header ---*/

header.row {
  padding-top: 4rem;
}

header.row .logo {
  font-size: 2.3rem;
}

/*---- header ---*/

/*---- list of tasks ---*/

.list-tasks .filter {
  display: flex;
  margin-top: 0;
}

.list-tasks .text-task {
  font-size: 1.2rem;
}

/*---- list of tasks ---*/

/* footer filter */

footer div.filter {
  display: none;
}

/* footer filter */
